*{
    margin: 0;
    padding: 0;
}
body{
background-image: url(./img/developer.svg);
background-repeat: no-repeat;
background-size: 150%;
}
.samira{
width: 10pX;
height:10px ;
background-color:rgb(94, 68, 29) ;
  

}